<h2>{{(getSelectedSideMenuItem$ | async)!.name}}</h2>
<p class="sr-only">OverageRecognitionTime: {{getOverageRecognitionTime$ | async}}</p>
<div class="display-flex">
  <div class="image-wrapper">
    @if ((getSelectedSideMenuItem$ | async)!.data.isVideo) {
      <video #content autoplay playsinline (playing)="contentReady()" [src]="(getSelectedSideMenuItem$ | async)!.data?.src"></video>
    } @else {
      <img #content crossOrigin="anonymous"  [src]="(getSelectedSideMenuItem$ | async)!.data?.src" alt="No Image"  (load)="contentReady()" >
    }
    @if (isContentReady && !!(getCoordinatesStyles$ | async) && (getCoordinatesStyles$ | async)!.length > 0) {
      @for (coordinate of (getCoordinatesStyles$ | async); track coordinate) {
        <app-rectangle [style]="coordinate"></app-rectangle>
      }
    }
  </div>

</div>
