<mat-sidenav-container class="example-container">
  <mat-sidenav  mode="side" opened="true">
    <mat-nav-list>
      @for (menuItem of getSideMenu$ | async; track menuItem.name) {
        <a
          mat-list-item
          [disabled]="menuItem.isSelected"
          (click)="selectMenu(menuItem)"
        >{{menuItem.name}}</a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    @if (isImageView$ | async) {
      <app-image-recognition></app-image-recognition>
    }
    @if (isInternalCameraView$ | async) {
     <app-camera-recognition></app-camera-recognition>
    }
    @if (isExternalCameraView$ | async) {
      <app-image-recognition></app-image-recognition>
    }
    @if (isVideoView$ | async) {
      <app-camera-recognition></app-camera-recognition>
    }
  </mat-sidenav-content>
</mat-sidenav-container>



